
@{
    ViewBag.Title = "CompleteOrder";
    Layout = "~/Views/Shared/_StepTwo.cshtml";
}
<br>
<br>
<h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:green">
    Thank you for Placing Order
    
    
    </h2>
<a href="/Account/Register" class="btn btn-success">Go to Home Page</a>

